<aside class="aside_navigation">
    <a href="" class="logo">
        <img src="img/logo.png"  srcset="img/logo@2x.png 2x,  img/logo@3x.png 3x">
    </a>
    <nav>
        <a class="nav_icon icon">
            <img src="img/success.png"
                 srcset="img/success@2x.png 2x,
             img/success@3x.png 3x"
                 class="success">
        </a>
        <ul class="nav_list">
            <li><a href="#ex_1" ></a></li>
            <li><a href="#ex_2"></a></li>
            <li><a href="#ex_3"></a></li>
            <li><a href="#ex_4"></a></li>
            <li><a href="#ex_5"></a></li>
            <li><a href="#ex_6"></a></li>
            <li><a href="#ex_7"></a></li>
            <li><a href="#ex_8"></a></li>
            <li><a href="#ex_9"></a></li>
            <li><a href="#ex_10"></a></li>
            <li><a href="#ex_11"></a></li>
            <li><a href=#ex_12></a></li>
        </ul>
        <a class="nav_icon icon">
            <img src="img/trophy.png"
                 srcset="img/trophy@2x.png 2x,
             img/trophy@3x.png 3x"
                 class="trophy">
        </a>
        <a class="nav_icon icon">
            <img src="img/present.png"
                 srcset="img/present@2x.png 2x,
             img/present@3x.png 3x"
                 class="present">
        </a>
    </nav>
</aside>